Repository googleapis/nodejs-speech, pull requests merged in 2020-11, with the labels that each got.

#668 build(node): add KOKORO_BUILD_ARTIFACTS_SUBDIR to env
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: speech, automerge, cla: yes, context: full

#669 fix: do not modify options object, use defaultScopes
  package.json
  src/index.ts
  src/v1/speech_client.ts
  src/v1p1beta1/speech_client.ts
  synth.metadata
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
Labels: api: speech, automerge, cla: yes

#674 fix(browser): check for fetch on window
  protos/protos.json
  src/v1/speech_client.ts
  src/v1p1beta1/speech_client.ts
  synth.metadata
Labels: api: speech, cla: yes, context: none

#676 docs: spelling correction for "targetting"
  README.md
  synth.metadata
Labels: api: speech, automerge, cla: yes, context: full
