Repository googleapis/nodejs-speech, pull requests merged in 2020-12, with the labels that each got.

#678 chore: added a sample that shows the use of the profanity filter
  samples/profanityFilter.js
  samples/system-test/profanityFilter.test.js
Labels: api: speech, cla: yes, samples

#679 docs: update list of available samples
  README.md
  samples/README.md
  synth.metadata
Labels: api: speech, cla: yes, context: none

#680 chore: generate GAPIC metadata JSON file
  src/v1/gapic_metadata.json
  src/v1p1beta1/gapic_metadata.json
  synth.metadata
Labels: api: speech, cla: yes, context: full

#688 docs: update list of available samples
  README.md
  samples/README.md
  synth.metadata
Labels: api: speech, cla: yes, context: none
