Repository googleapis/nodejs-speech, pull requests merged in 2021-04, with the labels that each got.

#712 docs(samples): adds model adaptation sample
  package.json
  samples/modelAdaptation.js
  samples/system-test/modelAdaptation.test.js
Labels: api: speech, cla: yes, samples

#736 fix: fixclassiderror
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  .github/workflows/ci.yaml
  .kokoro/release/publish.cfg
  .repo-metadata.json
  README.md
  owlbot.py
  samples/README.md
  samples/system-test/modelAdaptation.test.js
Labels: api: speech, cla: yes

#734 build: add generated-files bot config
  .github/generated-files-bot.yml
  synth.metadata
Labels: api: speech, automerge, cla: yes, context: partial

#737 feat: Support for spoken punctuation and spoken emojis
  protos/google/cloud/speech/v1p1beta1/cloud_speech.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
Labels: api: speech, cla: yes
