Repository googleapis/nodejs-speech, pull requests merged in 2021-03, with the labels that each got.

#701 chore: Added missing config field
  samples/recognize.js
  samples/system-test/profanityFilter.test.js
Labels: api: speech, cla: yes

#707 feat: Support output transcript to GCS for LongRunningRecognize
  protos/google/cloud/speech/v1p1beta1/cloud_speech.proto
  protos/google/cloud/speech/v1p1beta1/cloud_speech_adaptation.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  src/v1p1beta1/speech_client.ts
  synth.metadata
Labels: api: speech, cla: yes, context: partial

#708 feat: Support output transcript to GCS for LongRunningRecognize.
  protos/google/cloud/speech/v1p1beta1/cloud_speech.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: speech, cla: yes, context: full

#710 fix: remove common protos
  protos/google/api/annotations.proto
  protos/google/api/auth.proto
  protos/google/api/backend.proto
  protos/google/api/billing.proto
  protos/google/api/config_change.proto
  protos/google/api/consumer.proto
  protos/google/api/context.proto
  protos/google/api/control.proto
  protos/google/api/distribution.proto
  protos/google/api/documentation.proto
  protos/google/api/endpoint.proto
  protos/google/api/experimental/authorization_config.proto
  protos/google/api/experimental/experimental.proto
  protos/google/api/http.proto
  protos/google/api/httpbody.proto
  protos/google/api/label.proto
  protos/google/api/log.proto
  protos/google/api/logging.proto
  protos/google/api/metric.proto
  protos/google/api/monitored_resource.proto
  protos/google/api/monitoring.proto
  protos/google/api/quota.proto
  protos/google/api/service.proto
  protos/google/api/servicecontrol/v1/check_error.proto
  protos/google/api/servicecontrol/v1/distribution.proto
  protos/google/api/servicecontrol/v1/log_entry.proto
  protos/google/api/servicecontrol/v1/metric_value.proto
  protos/google/api/servicecontrol/v1/operation.proto
  protos/google/api/servicecontrol/v1/service_controller.proto
  protos/google/api/servicemanagement/v1/resources.proto
  protos/google/api/servicemanagement/v1/servicemanager.proto
  protos/google/api/source_info.proto
  protos/google/api/system_parameter.proto
  protos/google/api/usage.proto
  protos/google/longrunning/operations.proto
  protos/google/protobuf/any.proto
  protos/google/protobuf/api.proto
  protos/google/protobuf/descriptor.proto
  protos/google/protobuf/duration.proto
  protos/google/protobuf/empty.proto
  protos/google/protobuf/field_mask.proto
  protos/google/protobuf/source_context.proto
  protos/google/protobuf/struct.proto
  protos/google/protobuf/timestamp.proto
  protos/google/protobuf/type.proto
  protos/google/protobuf/util/json_format_proto3.proto
  protos/google/protobuf/wrappers.proto
  protos/google/rpc/code.proto
  protos/google/rpc/error_details.proto
  protos/google/rpc/status.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
Labels: api: speech, automerge, cla: yes
